@font-face {
  font-family: "helvetica-neue";
  src: url(../fonts/HelveticaNeue-Medium-11.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: "helvetica-neue-Thin";
  src: url(../fonts/HelveticaNeue-Thin-12.ttf) format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: "helvetica-neue-ultralight";
  src: url(../fonts/HelveticaNeue-UltraLight-03.tff) format('truetype');
  font-weight: 100;
}

@font-face{
  font-family: "garamond-pro-italic";
  src:url(../fonts/AGARAMONDPRO-ITALIC.OTF);
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#vid-container {
  width: auto;
  height: auto;
  position: absolute;
}

video {
  -webkit-transform: scale(1.35);
}

#vid {
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  object-fit: cover;
}

.title-container {
  color: white;
  top: 40%;
  font-size: 90px;
  float: left;
  position: fixed;
  font-family: 'helvetica-neue-Thin';
  top: 35%;
  right: 25%;
  z-index: 100;
  -webkit-animation: fadeIn 4s;
}

#karen {
  letter-spacing: 1.3vw;
}

#doesnt {
  font-size: 70px;
  letter-spacing: .85vw;
}

#dream {
  letter-spacing: 1.1vw;
}

.social {
  color: white;
  font-family: 'helvetica-neue-Thin', sans-serif;
  font-size: 1vw;
  z-index: 100;
  position: fixed;
  bottom: 20px;
  margin-left: 30px;
  text-decoration: none;
}

.social a {
  color: white;
  padding: 0 .5em;
  font-size: 1vw;
  text-decoration: none;
}

.line {
  height: 1px;
  background-color: white;
  margin: 2px auto 12px auto;
  bottom: 100px;
}

#psutv-logo {
  padding: 0 30px;
}

.watch-now {
  font-family: 'helvetica-neue-Thin';
  color: black;
  font-size: 1em;
  padding: 10px 25px;
  background-color: rgba(206, 206, 206, .5);
  position: fixed;
  z-index: 100;
  bottom: 20px;
  right: 1.5vw;
  text-decoration: none;
}

.watch-now:visited {
  color: black;
}

.hamburger-container {
  z-index: 100;
  position: fixed;
  top: 50px;
  left: 50px;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
  width: auto;
  margin: 0 auto;
  cursor: pointer;
}

.bar {
  display: block;
  height: 3px;
  width: 35px;
  background: white;
  margin: 6px auto;
  -webkit-transition: all .7s ease;
}

.hamburger-container .top {
  -webkit-transform: translateY(4px) rotateZ(45deg);
}

.hamburger-container .bottom {
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
}

.hamburger-container .middle {
  width: 0;
}

#sidebar{
  height:100vh;
  width: 37vw;
  position: absolute;
  top: 0px;
  background-image: url('../img/sidebar.png');
  display: none;
  font-family: 'helvetica-neue-Thin';
  color: white;
}

#menu-title-container{
  margin-top: 110px;
  margin-left: 30px;
  letter-spacing: 0.8vw;
  line-height: 1.1;
}

#karen-menu{
  font-size: 2.5vw;
  padding: 0 1vw;
  display: block;
}
#doesnt-menu, #dream-menu{
  font-size: 2.5vw;
  padding: 0;
  display: inline-block;
}

#doesnt-menu{
  padding-left: 1vw;
}

#menu-items-container{
  font-family: "garamond-pro-italic";
  font-size: 2vw;
  color: white;
  margin-top: 25px;
  margin-left: 30px;
  text-decoration: none;
}
.menu-item{
  padding: 30px 25px;
  text-decoration: none;
}

.menu-item a{
  text-decoration: none;
}

.menu-item a:visited{
  text-decoration: none;
  color: white;
}

.menu-item a:hover{
  border-bottom: solid 4px white;
  display: inline;
  padding-bottom: 2px;
}

/*----------------------MOBILE STARTS HERE---------------------*/
@media (max-width: 1125px) {
  .title-container {
    color: white;;
    float: left;
    position: absolute;
    font-family: 'helvetica-neue-Thin';
    top: 50%;
    right: 50%;
    z-index: 100;
    -webkit-animation: fadeIn 4s;
    transform: translate(63%);
  }
  #karen {
    letter-spacing: .85vw;
    display:inline-block;
    font-size: 100px;
  }
  #doesnt {
    display: inline-block;
    font-size: 100px;
    letter-spacing: .85vw;
  }
  #dream {
    font-size: 150px;
    letter-spacing: 7.5vw;
    margin: auto;
  }
}
/*----------------------MOBILE ENDS HERE---------------------*/
